:root{
    --primary-color: #cb1c22;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Roboto",sans-serif;
	box-sizing: border-box;
}

.container{
    max-width: 100%;
    margin: 0 auto;   
}

#header{
    width: 1100px;
    height: 90px;
    margin: 0 auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
    line-height: 90px;
    margin: 0 auto;
}

.header-title{
    padding-left: 2%;
    font-size: 24px;

}

.move-back{
    padding-right: 2%;
    font-size: 13px;

}

.move-back a{
    text-decoration: none;
    color: var(--primary-color);
}

#main{
    max-width: 100%;
    height: 600px;
    background-color: var(--primary-color);
    margin: auto;
    display: flex;
    justify-content: center;
}

.box{
    position: absolute;
    width: 360px;
    max-width: 100%;
    height: 480px;
    margin:60px;
    text-align: center;
    padding: 0 auto;
    background-color: #fff;
    border-radius: 3px;
}

.box-content{
    padding: 32px;
}

.box-title{
    font-size: 20px;
}

.box-type{
    padding-top: 24px;
}

.box-input{
    width: 260px;
    padding: 12px;
    border: 1px solid #ccc;
}

.box-btn{
    width: 288px;
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 2px;
    border: none;
}

.box-btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.box-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 14px;
    margin-left: 3px;
    margin-right: 3px;
}

.box-bottom a{
    color: var(--primary-color);
    text-decoration: none;
}

.box-bottom a:hover{
    opacity: 0.7;
}